{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}

{% block page_title %}
    Create Course
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'create_course' %}" method="POST" novalidate>
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label" for="{{form.title.id_for_label}}">Title</label>
                        {{ form.title }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{form.description.id_for_label}}">description</label>
                        {{ form.description }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{form.imageUrl.id_for_label}}">imageUrl</label>
                        {{ form.imageUrl }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="{{form.slug.id_for_label}}">slug</label>
                        {{ form.slug }}
                    </div>

                    <button class="btn btn-primary" type="submit">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_files %}
    <script src="{% static 'courses/js/script.js' %}"></script>
{% endblock %}
