{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container text-center">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="mb-4">

        <h1 class="mb-4">Hakkımızda</h1>

        <p>
           Bu proje Yunus Emre Gül ve Ali Emir Turan tarafından yapılmuştır.
        </p>

        <p>
            Morbi eget neque sed dui aliquet consequat. Nulla facilisi. Suspendisse sem metus, bibendum eu pretium
            vel, viverra nec nulla. Suspendisse potenti. Ut aliquam euismod ex sed fermentum. Phasellus hendrerit
            ullamcorper ligula non bibendum. Cras vulputate auctor purus at condimentum. Nunc vel ex sit amet eros
            aliquam viverra.
        </p>
    </div>
{% endblock %}